- content_for :footer do
  = javascript_include_tag 'workshop'
  = render 'shared/xdata', name: 'workshop', data: @workshop_data

%section.textual.workshop
  %h1= @workshop.name
  - if logged_in? && current_user.admin?
    %nav
      = link_to 'Edit', edit_workshop_url(@workshop), class: 'btn secondary icon edit'
  = text_to_html @workshop.description
  %dl
    %dt Track
    %dd
      - if @workshop.track.present?
        = link_to @workshop.track_name, @workshop.track
      - else
        &mdash;

%aside.textual
  - if @workshop.events.active.current.any?
    %h3 Register before&hellip;
    %ol.menu
      - @workshop.events.active.current.each do |event|
        %li= link_to event.starts_at.strftime('%b %e, %Y @ %l:%M %P'), event
  - else
    %h3 Votes
    = render 'shared/progress_bar', val: @workshop.votes_count, max: @workshop.votes_goal
    %p
      This class needs at least #{pluralize @workshop.votes_goal, 'vote', 'votes'}
      before it gets scheduled.
    %p
      - if logged_in? && current_user.voted_on(@workshop)
        = link_to 'Remove Vote', workshop_vote_url(@workshop.id, @vote.id), method: :delete
      - else
        = link_to 'Vote', workshop_votes_url(@workshop.id), method: :post, class: 'btn icon vote'
  - if logged_in?
    - discussions = @workshop.discussions.includes(:comments).order('comments.created_at desc').limit(3)
    - if discussions.any?
      %h3 Recent conversation
      %ol.menu
        - discussions.each do |discussion|
          %li
            = link_to workshop_discussion_url(workshop_id: discussion.workshop, id: discussion) do
              = discussion.name
  %hr
  = render 'shared/about'
