%section.textual.track
  %h1= @track.name
  - if logged_in? && current_user.admin?
    %nav
      = link_to 'Edit', edit_track_url(@track), class: 'btn secondary icon edit'
  = text_to_html @track.description

%section.textual.tiles
  %h1 Workshops in this track:
  %ul
    - @track.workshops.active.by_sort.each do |workshop|
      %li{ class: workshop.events.upcoming.any? ? 'icon bookmark' : nil }
        = link_to workshop do
          %h3= workshop.name
          %dfn
            - if workshop.events.upcoming.any?
              Coming
              %time= workshop.events.upcoming.first.starts_at.strftime '%b %e, %Y'
            - else
              Needs #{pluralize workshop.votes_goal, 'more vote', 'more votes'}
