%section.textual.track
  %h1= @track.name
  - if logged_in? && current_user.admin?
    %nav
      = link_to 'Edit', edit_track_url(@track), class: 'btn secondary icon edit'
  = text_to_html @track.description

%aside.textual
  %h2 In this track&hellip;
  %ol.menu
    - @track.workshops.active.by_sort.each do |workshop|
      %li= link_to workshop.name, workshop
  %hr
  = render 'shared/about'
