%section.textual
  %h1
    New
    - case
    - when @track.present?
      = @track.name
    - when @workshop.present?
      = @workshop.name
    Discussion
  = form_for @discussion do |f|
    - if @workshop.present?
      = f.hidden_field :workshop_id, value: @workshop.id
    - else
      .field
        = f.label :workshop_id
        = f.select :workshop_id, @workshops_collection_for_select
        = render 'shared/field_errors', f: f, field: :workshop_id
    = render 'fields', f: f
    - case
    - when current_user.student?
      = f.hidden_field :student_profile_id, value: current_user.student_profile_id
    - when current_user.instructor?
      = f.hidden_field :instructor_profile_id, value: current_user.instructor_profile_id
    - when current_user.admin?
      = f.hidden_field :admin_profile_id, value: current_user.admin_profile_id
    .actions
      = button_tag 'Submit'
