%section.textual
  %h1 Users
  %table
    %thead
      %tr
        %th Name
        %th= sort_link 'Email', 'users.email'
        %th Type
        %th
    - if @users.total_pages > 1
      %tfoot
        %td{ colspan: 4 }= paginate @users
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= link_to user.email, "mailto:#{user.email}"
          %td= user.kinds.join ', '
          %td.actions
            %div
              - unless user.admin?
                - unless user.instructor?
                  = link_to 'Make Instructor', new_instructor_profile_url(user: user), class: 'instructor', data: { hint: 'Make an Instructor' }
                - unless user.student?
                  = link_to 'Make Student', new_student_profile_url(user: user), class: 'student', data: { hint: 'Make a Student' }
              = link_to 'Edit', edit_user_url(user), class: 'edit'
