%section.textual
  %h1
    = @track.name if @track.present?
    Workshops
  %nav
    = link_to 'New', new_workshop_url, class: 'btn secondary icon new'
  %table
    %thead
      %tr
        %th= sort_link 'Name', 'workshops.name'
        %th= sort_link 'Votes', 'workshops.votes_count'
        %th Scheduled
        %th= sort_link 'Track', 'tracks.name'
        %th= sort_link 'Status', 'workshops.status'
        %th
    - if @workshops.total_pages > 1
      %tfoot
        %td{ colspan: 6 }= paginate @workshops
    %tbody
      - @workshops.each do |workshop|
        %tr
          %td= link_to workshop.name, edit_workshop_url(workshop)
          %td
            = render 'shared/progress_bar', val: workshop.votes.count, max: workshop.votes_goal
          %td
            - if workshop.events.current.any?
              - workshop.events.current.each do |event|
                %time.icon.event
                  = link_to event.starts_at.strftime('%b %e, %Y @ %l:%M %P'), event
            - else
              &mdash;
          %td
            - if workshop.track.present?
              %mark.icon{ class: under_camel(workshop.track_status) }
                = workshop.track_name
            - else
              &mdash;
          %td
            %mark.icon{ class: under_camel(workshop.status) }
              = workshop.status
          %td.actions
            %div
              = link_to 'View', workshop, class: 'view'
              = link_to 'Discussions', admin_discussions_url(workshop: workshop), class: 'discussions', data: { hint: pluralize(workshop.discussions_count, 'Discussion', 'Discussions') }
              = link_to 'Schedule', new_event_url(workshop: workshop), class: 'schedule', data: { hint: 'Schedule this Workshop' }
              = link_to 'Edit', edit_workshop_url(workshop), class: 'edit'
              - unless workshop.discussions.any?
                = link_to 'Delete', workshop_url(workshop), class: 'delete', method: 'delete', data: { confirm: 'Delete this workshop?' }
