%section.textual
  %h1 Editing User
  = form_for @user do |f|
    .field
      = f.label :email
      = f.email_field :email, spellcheck: false
      = render 'shared/field_errors', f: f, field: :email
    
    - if f.object.instructor?
      %h3 Instructor Profile
      = f.fields_for :instructor_profile do |ff|
        .field
          = ff.label :name, 'Full Name'
          = ff.text_field :name
          = render 'shared/field_errors', f: ff, field: :name
        .field
          = ff.label :bio
          = ff.text_area :bio
          = render 'shared/field_errors', f: ff, field: :bio

    - if f.object.student?
      %h3 Student Profile
      = f.fields_for :student_profile do |ff|
        .field
          = ff.label :name, 'Full Name'
          = ff.text_field :name
          = render 'shared/field_errors', f: ff, field: :name
        .field
          = ff.label :bio
          = ff.text_area :bio
          = render 'shared/field_errors', f: ff, field: :bio

    .actions
      = button_tag 'Save'
